.calibrate-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.assist-text {
    padding: 10px 10px 0 10px;
}

.centered-video {
    margin-left: auto;
    margin-right: auto;
}

.done-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}