.homescreen-spaced {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: none;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    cursor: none;
}

.homescreen-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 100px;
    cursor: none;
}

.logo {
    margin-left: 20px;
    margin-top: 5px;
    cursor: none;
}

.drop-down {
    margin-top: 15px;
    cursor: none;
}