.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: none;
}
.start-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    cursor: none;
}

.start-footer {
    margin-bottom: 10px;
    cursor: none;
}

.trivia {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: none;
}

.time-elapsed {
    margin-top: 10px;
    cursor: none;
}
